@import url("//cdn.web-fonts.ge/fonts/arial-geo-bold/css/arial-geo-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nostalgia-bold/css/bpg-nostalgia-bold.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #1e1e1e;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/*  HEADER  */
.header {
  width: 100%;
  padding: 20px 0;
  background: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: none;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* NAVIGATION */
.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #ff7a00;
}

.right-side {
  display: flex;
  align-items: center;
}

.cv-btn {
  padding: 10px 18px;
  background: #ff7a00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  margin-left: 25px;
}

.cv-btn:hover {
  background: #ff8f26;
}
/* BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #fff;
}
