@import url("//cdn.web-fonts.ge/fonts/arial-geo-bold/css/arial-geo-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nostalgia-bold/css/bpg-nostalgia-bold.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #1e1e1e;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/*  HEADER  */
.header {
  width: 100%;
  padding: 20px 0;
  background: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: none;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* NAVIGATION */
.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #ff7a00;
}

.right-side {
  display: flex;
  align-items: center;
}

.cv-btn {
  padding: 10px 18px;
  background: #ff7a00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  margin-left: 25px;
}

.cv-btn:hover {
  background: #ff8f26;
}
/* BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #fff;
}

/*  HERO SECTION  */
.photo-slider {
  position: relative;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid orange;
}

.photo-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.photo-slider img.active {
  opacity: 1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 120px;
}

.hero-left {
  width: 50%;
  padding-left: 160px;
}

.hi {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 10px;
}

.hero-left .name {
  font-size: 25px;
  color: #ff7a00;
  margin-bottom: 15px;
}

.hero-left .profession {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
  color: white;
}
.profession .prog {
  display: inline-block;
  margin-left: 180px;
}

.description {
  font-family: "Arial GEO Bold", sans-serif;
  width: 85%;
  line-height: 1.6;
  color: white;
  margin-bottom: 35px;
  font-size: 18px;
}

.hire-btn {
  display: inline-block;
  background: #ff7a00;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.hire-btn:hover {
  background-color: #333;
}

.hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social a {
  color: rgb(255, 255, 255);
  font-size: 24px;
  transition: transform 0.3s, color 0.3s;
}
.social a:hover {
  color: orange;
  transform: scale(1.2);
}

/* about me */
.about-section {
  font-family: "Arial GEO Bold", sans-serif;
  padding: 80px 0;
}

.about-container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about-content {
  flex: 1;
}
.about-content h3 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
}
.about-content p {
  font-size: 18px;
}

.about-text {
  max-width: 400px;
  line-height: 1.6;
  margin-bottom: 80px;
}

/* progress wrapper */
.skill {
  margin-top: 30px;
}

.progress {
  width: 85%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 50px;
  position: relative;
  overflow: visible;
}

.progress-filled {
  width: 0;
  height: 100%;
  background: #ff7a00;
  border-radius: 50px;
  position: relative;
  transition: width 1.5s ease;
}

.progress-filled.animate::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  border: 2px solid #ff7a00;
}
