@import url("//cdn.web-fonts.ge/fonts/arial-geo-bold/css/arial-geo-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nostalgia-bold/css/bpg-nostalgia-bold.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: #1e1e1e;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/*  HEADER  */
.header {
  width: 100%;
  padding: 20px 0;
  background: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: none;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* NAVIGATION */
.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #ff7a00;
}

.right-side {
  display: flex;
  align-items: center;
}

.cv-btn {
  padding: 10px 18px;
  background: #ff7a00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  margin-left: 25px;
}

.cv-btn:hover {
  background: #ff8f26;
}
/* BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #fff;
}

/*  HERO SECTION  */
.photo-slider {
  position: relative;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid orange;
}

.photo-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.photo-slider img.active {
  opacity: 1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 120px;
}

.hero-left {
  width: 50%;
  padding-left: 160px;
}

.hi {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 10px;
}

.hero-left .name {
  font-size: 25px;
  color: #ff7a00;
  margin-bottom: 15px;
}

.hero-left .profession {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
  color: white;
}
.profession .prog {
  display: inline-block;
  margin-left: 180px;
}

.description {
  font-family: "Arial GEO Bold", sans-serif;
  width: 85%;
  line-height: 1.6;
  color: white;
  margin-bottom: 35px;
  font-size: 18px;
}

.hire-btn {
  display: inline-block;
  background: #ff7a00;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.hire-btn:hover {
  background-color: #333;
}

.hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social a {
  color: rgb(255, 255, 255);
  font-size: 24px;
  transition: transform 0.3s, color 0.3s;
}
.social a:hover {
  color: orange;
  transform: scale(1.2);
}

/* about me */
.about-section {
  font-family: "Arial GEO Bold", sans-serif;
  padding: 80px 0;
}

.about-container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about-content {
  flex: 1;
}
.about-content h3 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
}
.about-content p {
  font-size: 18px;
}

.about-text {
  max-width: 400px;
  line-height: 1.6;
  margin-bottom: 80px;
}

/* progress wrapper */
.skill {
  margin-top: 30px;
}

.progress {
  width: 85%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 50px;
  position: relative;
  overflow: visible;
}

.progress-filled {
  width: 0;
  height: 100%;
  background: #ff7a00;
  border-radius: 50px;
  position: relative;
  transition: width 1.5s ease;
}

.progress-filled.animate::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  border: 2px solid #ff7a00;
}
/* services*/
.services-section {
  font-family: "BPG Nostalgia Bold", sans-serif;
  text-align: center;
  padding: 80px 0;
  color: #000000;
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.section-subtitle {
  max-width: 800px;
  margin: 0 auto 50px;
  opacity: 0.8;
  line-height: 1.6;
  color: white;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 95px 0 160px;
}

.service-card {
  background: #ffffff;
  padding: 30px 10px;
  border-radius: 10px;
  transition: 0.3s;
  border: 5px solid #ffffff22;
  width: 80%;
}

.service-card:hover {
  transform: translateY(-8px);
  border-color: #ff7a00;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 900;
}

.service-card p {
  font-size: 15px;
  opacity: 0.8;
  line-height: 1.5;
}

.service-icon {
  width: 50px;
  height: 50px;
  filter: invert(50%) sepia(200%) saturate(900%) hue-rotate(5deg);
  margin-right: 120px;
}

/*project*/

.projects-section {
  text-align: center;
  padding: 10px 0;
  color: white;
}

.filters {
  margin: 30px 0;
}

.filter-btn {
  padding: 10px 18px;
  margin: 5px;
  border-radius: 8px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.filter-btn.active {
  background: #ff7b00;
  color: white;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  width: 78%;
  margin: auto;
}

.project-card {
  background: transparent;
  padding: 0;
  border-radius: 0;
  text-align: left;
  transition: 0.3s;
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.project-card h4 {
  margin-top: 12px;
  color: #ff7b00;
  font-size: 12px;
  font-weight: 200;
}

.project-card p {
  color: white;
  opacity: 0.85;
  margin-top: 4px;
  font-size: 18px;
}

.project-card:hover {
  transform: translateY(-5px);
}
/* testimonial */
.testimonial-container {
  max-width: 800px;
  margin: 120px auto;
  text-align: center;
  color: white;
}

.testimonial-container h2 {
  font-size: 45px;
  margin-bottom: 15px;
  font-weight: 700;
}

.testimonial-container .subtitle {
  font-size: 16px;
  color: #ccc;
  max-width: 550px;
  margin: 0 auto 40px;
}

.card {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  gap: 20px;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.12);
}

.card .left img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.right {
  flex: 1;
  text-align: left;
}

.text {
  text-align: left;
  color: #4a4a4a;
  line-height: 1.6;
  max-width: 700px;
  font-size: 15px;
}

.name {
  margin-top: 20px;
  font-weight: 700;
  color: #000;
  font-size: 17px;
}

.testimonial-profession {
  margin-top: 5px;
  color: #888;
  font-size: 14px;
}

.dots {
  margin-top: 25px;
}

.dot {
  display: inline-block;
  width: 40px;
  height: 10px;
  margin: 3px;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #ea7528;
}

.quote-start,
.quote-end {
  font-size: 30px;
  color: #ea7528;
  font-weight: bold;
  display: inline-block;
}

/* Contact form */
.contact-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#contact-form {
  margin-top: 40px;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.form-row input {
  width: 240px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

textarea {
  width: calc(240px * 3 + 40px);
  padding: 15px;
  height: 120px;
  border-radius: 8px;
  border: none;
  resize: none;
  font-size: 16px;
  display: block;
  margin: 0 auto 25px auto;
}

/* Button */
.contact-btn {
  padding: 10px 25px;
  background: #ff7a00;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  margin-bottom: 180px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  font-size: 17px;
  color: #333;
}

.modal-content button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff7b00;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
/*footer*/
.footer {
  text-align: center;
  color: white;
}

.footer-nav {
  margin-bottom: 50px;
}

.footer-nav a {
  margin: 0 15px;
  color: #ffffffcc;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: #ff7a00;
}

.footer-socials a {
  margin: 0 10px;
  font-size: 25px;
  color: white;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #ff7a00;
}

.footer-copy {
  margin-top: 30px;
  font-size: 14px;
  color: white;
  background: #111111;
  padding: 20px 0;
}
